* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(213, 243, 195);
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
.blogpage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh;
}

.fullblog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid blue; */
  margin: 8vh 9vw;
  margin-top: 0px;
  padding: 20px;
  background-color: rgba(161, 240, 161, 0.523);
  border-radius: 20px;
}
.heading {
  display: flex;
  justify-content: space-between;
  border-radius: 18px;
  align-items: center;
  width: 100%;
  padding: 20px 4vw;
  background-color: rgb(152, 236, 93);
}
#content {
  float: left;
  margin: 2vh;
  text-align: justify;
  font-family: "poppins", Arial, Helvetica, sans-serif;
}
