* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(224, 240, 240);
  font-family: "Poppins", sans-serif;
}

header {
  height: 10vh;
}

/* add button  */
.add {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px black;
  text-align: center;
  padding-top: 10px;
  background-color: rgb(199, 230, 230);
}
.add:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px black;
  transition-duration: 2ms;
}

main {
  height: 100%;
}
h1 {
  color: black;
  font-size: 24px;
  margin: 20px;
}

.blogs {
  margin: 2px 40px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 50px;
  row-gap: 20px;
}

.card {
  border: 1px solid gray;
  width: 190px;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 4px;
  box-shadow: 0px 1px 4px 0px black;
}

.poster {
  width: 170px;
  height: 150px;
  background-color: rgb(227, 174, 227);
  border-radius: 10px;
}
.poster img {
  width: 170px;
  height: 150px;
}
button {
  height: 20px;
  width: 150px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 2px 0px black;
  text-align: center;
  background-color: rgb(199, 230, 230);
}
button:hover,
#close:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px black;
}
/* form container  */
.popup {
  display: none;
  position: fixed;
  top: 12vh;
  left: 20vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 80vh;
  border-radius: 20px;
  width: 60vw;
  background-color: rgb(185, 232, 232);
}

input,
textarea {
  width: 55vw;
  height: 4vh;
  border-radius: 10px;
  padding-left: 5px;
  color: rgb(9, 9, 9);
  font-family: "poppins", "Times New Roman", Times, serif;
  border: none;
  font-size: 16px;
  outline: none;
}
textarea {
  height: 32vh;
}
.submit,
#close {
  width: 55vw;
  height: 5vh;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  box-shadow: none;
  background-color: rgb(81, 216, 81);
}
#close {
  width: 80px;
  background-color: rgb(233, 89, 89);
  text-align: center;
  color: white;
}
/* add window  */
section {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.388);
}
